# -*- coding: utf-8 -*-
# vim: ft=yaml
---
chromium:
  version: latest
  pkg:
          {%- if grains.kernel|lower in ('macos',) %}
    use_upstream_macapp: true
          {%- else %}
    use_upstream_package: true
          {%- endif %}
    macapp:
      uri: https://dl.google.com/release2/q/canary/googlechrome.dmg
      source_hash: 6f9fbeb790a3cc63540ea0470f49d1d8d86c3913e0500d008bc5dec74d8034d5
